===== id
1001

===== Name
Start Position

===== Description
Pass <code class="js string">'start'</code> as the second argument to initialize
the board to the start position.

===== HTML
<div id="myBoard" style="width: 450px"></div>

===== JS
const board = Xiangqiboard('myBoard', 'start');
