===== id
1002

===== Name
FEN String

===== Description
Pass a <a href="docs.html#fen_string">FEN String</a> as the second argument to
initialize the board to a specific position.

===== HTML
<div id="myBoard" style="width: 450px"></div>

===== JS
// ref: http://www.xqbase.com/ecco/ecco_intro.htm
// B31(Encyclopedia of Chinese Chess Openings, ECCO), 中炮对反宫马
const B31 = 'r1bakab1r/9/1cn2cn2/p1p1p1p1p/9/9/P1P1P1P1P/1C2C1N2/9/RNBAKABR1';
const board = Xiangqiboard('myBoard', B31);
