===== id
5005

===== Name
Piece Highlighting 2

===== Description
Use CSS to show piece highlighting.

===== CSS
.highlight-red {
  box-shadow: inset 0 0 3px 3px yellow;
}
.highlight-black {
  box-shadow: inset 0 0 3px 3px blue;
}

===== HTML
<div id="myBoard" style="width: 450px"></div>

===== JS
// NOTE: this example uses the xiangqi.js library:
// https://github.com/lengyanyu258/xiangqi.js

let board = null;
let $board = $('#myBoard');
let game = new Xiangqi();
let squareToHighlight = null;
let squareClass = 'square-2b8ce';

function removeHighlights (color) {
  $board.find('.' + squareClass)
    .removeClass('highlight-' + color);
}

function onDragStart (source, piece, position, orientation) {
  // do not pick up pieces if the game is over
  if (game.game_over()) return false;

  // only pick up pieces for Red
  if (piece.search(/^b/) !== -1) return false;
}

function makeRandomMove () {
  let possibleMoves = game.moves({
    verbose: true
  });

  // game over
  if (possibleMoves.length === 0) return;

  let randomIdx = Math.floor(Math.random() * possibleMoves.length);
  let move = possibleMoves[randomIdx];
  game.move(move.iccs);

  // highlight black's move
  removeHighlights('black');
  $board.find('.square-' + move.from).addClass('highlight-black');
  squareToHighlight = move.to;

  // update the board to the new position
  board.position(game.fen());
}

function onDrop (source, target) {
  // see if the move is legal
  let move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  });

  // illegal move
  if (move === null) return 'snapback';

  // highlight red's move
  removeHighlights('red');
  $board.find('.square-' + source).addClass('highlight-red');
  $board.find('.square-' + target).addClass('highlight-red');

  // make random move for black
  window.setTimeout(makeRandomMove, 250);
}

function onMoveEnd () {
  $board.find('.square-' + squareToHighlight)
    .addClass('highlight-black');
}

// update the board position after the piece snap
// for castling, en passant, pawn promotion
function onSnapEnd () {
  board.position(game.fen());
}

let config = {
  draggable: true,
  position: 'start',
  onDragStart: onDragStart,
  onDrop: onDrop,
  onMoveEnd: onMoveEnd,
  onSnapEnd: onSnapEnd
};
board = Xiangqiboard('myBoard', config);
